/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Page not found - Error 404
-------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Tomorrow', sans-serif;
    height: 100vh;
    background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.text {
    position: absolute;
    top: 10%;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 50px;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #fff;
    right: 0;
    animation: starTwinkle 3s infinite linear;
}

.astronaut img {
    width: 100px;
    position: absolute;
    top: 55%;
    animation: astronautFly 6s infinite linear;
}

@keyframes astronautFly {
    0% {
        left: -100px;
    }

    25% {
        top: 50%;
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(45deg);
        top: 55%;
    }

    75% {
        top: 60%;
        transform: rotate(30deg);
    }

    100% {
        left: 110%;
        transform: rotate(45deg);
    }
}

@keyframes starTwinkle {
    0% {
        background: rgba(255,255,255,0.4);
    }

    25% {
        background: rgba(255,255,255,0.8);
    }

    50% {
        background: rgba(255,255,255,1);
    }

    75% {
        background: rgba(255,255,255,0.8);
    }

    100% {
        background: rgba(255,255,255,0.4);
    }
}