@model garage87.Models.HomeVM
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}


<section class="site-content-area">

    <!--BANNER-->
    <div class="uni-banner">
        <div class="uni-owl-one-item owl-carousel owl-theme">
            <div class="item">
                <div class="uni-banner-img uni-background-7"></div>
                <div class="content animated" data-animation="flipInX" data-delay="0.9s">
                    <div class="container">
                        <div class="caption">
                            <h1>Keeping You on the Road, Safely</h1>
                            <p>
                                Quality Repairs, Exceptional Service!
                                <br>
                                Your Trusted Partner for Reliable Vehicle Care!
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="uni-banner-img uni-background-6"></div>
                <div class="content animated" data-animation="flipInX" data-delay="0.9s">
                    <div class="container">
                        <div class="caption">
                            <h1>Keeping You on the Road, Safely</h1>
                            <p>
                                Quality Repairs, Exceptional Service!
                                <br>
                                Your Trusted Partner for Reliable Vehicle Care!
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="uni-banner-img uni-background-5"></div>
                <div class="content animated" data-animation="flipInX" data-delay="0.9s">
                    <div class="container">
                        <div class="caption">
                            <h1>Keeping You on the Road, Safely</h1>
                            <p>
                                Quality Repairs, Exceptional Service!
                                <br>
                                Your Trusted Partner for Reliable Vehicle Care!
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--HOME 2 OURSERVICES-->
    <div class="uni-home-our-services">
        <div class="uni-shortcode-icons-box-5">
            <div class="container">

                <div class="uni-home-title">
                    <h3>Our Services</h3>
                    <div class="uni-underline"></div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="uni-shortcode-icons-box-5-default">
                            <div class="item-icons-title">
                                <div class="col-md-4 uni-clear-padding">
                                    <div class="item-icons">
                                        <img src="images/icons_box/icon_4/icon-5.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8 uni-clear-padding">
                                    <div class="item-title">
                                        <h4>Oil Change</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="item-caption">
                                <p>
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada
                                    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                                    ultricies eget...
                                </p>
                                <a href="#" class="readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="uni-shortcode-icons-box-5-default">
                            <div class="item-icons-title">
                                <div class="col-md-4 uni-clear-padding">
                                    <div class="item-icons">
                                        <img src="images/icons_box/icon_4/icon-4.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8 uni-clear-padding">
                                    <div class="item-title">
                                        <h4>Breaks Repair</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="item-caption">
                                <p>
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada
                                    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                                    ultricies eget...
                                </p>
                                <a href="#" class="readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="uni-shortcode-icons-box-5-default">
                            <div class="item-icons-title">
                                <div class="col-md-4 uni-clear-padding">
                                    <div class="item-icons">
                                        <img src="images/icons_box/icon_4/icon-3.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8 uni-clear-padding">
                                    <div class="item-title">
                                        <h4>Battery Replacement</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="item-caption">
                                <p>
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada
                                    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                                    ultricies eget...
                                </p>
                                <a href="#" class="readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="uni-shortcode-icons-box-5-default">
                            <div class="item-icons-title">
                                <div class="col-md-4 uni-clear-padding">
                                    <div class="item-icons">
                                        <img src="images/icons_box/icon_4/icon-2.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8 uni-clear-padding">
                                    <div class="item-title">
                                        <h4> Transmission Repair</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="item-caption">
                                <p>
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada
                                    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                                    ultricies eget...
                                </p>
                                <a href="#" class="readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="uni-shortcode-icons-box-5-default">
                            <div class="item-icons-title">
                                <div class="col-md-4 uni-clear-padding">
                                    <div class="item-icons">
                                        <img src="images/icons_box/icon_4/icon-1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8 uni-clear-padding">
                                    <div class="item-title">
                                        <h4>Engine Diagnostics</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="item-caption">
                                <p>
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada
                                    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                                    ultricies eget...
                                </p>
                                <a href="#" class="readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="uni-shortcode-icons-box-5-default">
                            <div class="item-icons-title">
                                <div class="col-md-4 uni-clear-padding">
                                    <div class="item-icons">
                                        <img src="images/icons_box/icon_4/icon.png" alt="">
                                    </div>
                                </div>
                                <div class="col-md-8 uni-clear-padding">
                                    <div class="item-title">
                                        <h4>Tire Rotation</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="item-caption">
                                <p>
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada
                                    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                                    ultricies eget...
                                </p>
                                <a href="#" class="readmore">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-all-services">
                    <a href="#">All services +</a>
                </div>

            </div>
        </div>
    </div>


    <!--HOME 3 OUR Mechanics-->
    <div class="uni-home-3-our-doctor">
        <div class="uni-shortcode-team-2 uni-background-2">
            <div class="container">
                <div class="uni-home-title">
                    <h3>Our Mechnics</h3>
                    <div class="uni-underline"></div>
                </div>
                <div class="uni-owl-four-item owl-carousel owl-theme ">
                    @foreach (var item in Model.Mechanics)
                    {
                        <div class="item ">
                            <div class="uni-team-default">
                                <div class="item-img">
                                    <img src="@item.ImageFullPath" alt="" style="height:200px" class="img-responsive">
                                </div>
                                <div class="item-caption">
                                    <div class="col-md-3 col-sm-3 col-xs-3 uni-clear-padding">
                                        <div class="item-icons">
                                            <img src="images/icons_box/icon_4/icon-5.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-sm-9 col-xs-9 uni-clear-padding">
                                        <div class="item-title">
                                            <h4>@item.FullName</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <!--HOME 2 GAllery-->
    <div class="uni-home-2-latest-post">
        <div class="container">
            <div class="uni-home-title">
                <h3>Our Gallery</h3>
                <div class="uni-underline"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="blog-grid-item">
                        <article class="post type-post">
                            <div class="content-inner">
                                <div class="uni-entry-top">
                                    <div class="thumbnail-img">
                                        <a href="#" title="">
                                            <img src="~/customer/images/home1/lastestpost/download (1).jpeg" style="height: 200px" alt="" title="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-grid-item">
                        <article class="post type-post">
                            <div class="content-inner">
                                <div class="uni-entry-top">
                                    <div class="thumbnail-img">
                                        <a href="#" title="">
                                            <img src="~/customer/images/home1/lastestpost/download.jpeg" alt="" style="height: 200px" title="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-grid-item">
                        <article class="post type-post">
                            <div class="content-inner">
                                <div class="uni-entry-top">
                                    <div class="thumbnail-img">
                                        <a href="#" title="">
                                            <img src="~/customer/images/home1/lastestpost/images (1).jpeg" style="height: 200px" alt="" title="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="blog-grid-item">
                        <article class="post type-post">
                            <div class="content-inner">
                                <div class="uni-entry-top">
                                    <div class="thumbnail-img">
                                        <a href="#" title="">
                                            <img src="~/customer/images/home1/lastestpost/images (2).jpeg" style="height: 200px" alt="" title="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-grid-item">
                        <article class="post type-post">
                            <div class="content-inner">
                                <div class="uni-entry-top">
                                    <div class="thumbnail-img">
                                        <a href="#" title="">
                                            <img src="~/customer/images/home1/lastestpost/images.jpeg" alt="" style="height: 200px" title="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-grid-item">
                        <article class="post type-post">
                            <div class="content-inner">
                                <div class="uni-entry-top">
                                    <div class="thumbnail-img">
                                        <a href="#" title="">
                                            <img src="~/customer/images/home1/banner/banner2.jpg" style="height: 200px" alt="" title="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@