@model garage87.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="site-content-area">

    <div class="uni-contact-us-body-content">
        <div class="container">
            <div class="row" style="display: flex; justify-content: center; align-items: center;margin-top:100px">
                <div class="col-md-8">
                    <div class="uni-send-a-message" style="text-align: center;">
                        <div class="uni-contact-title">
                            <h3>Welcome back! Please log in to continue.</h3>
                            <div class="uni-line"></div>
                        </div>
                        <div class="uni-send-a-message-body">
                            <form method="post" style="max-width: 400px; margin: 0 auto;">
                                <div asp-validation-summary="ModelOnly" class="field-validation-error"></div>
                                <div class="form-group">
                                    <label asp-for="Username" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                    <input type="email" class="form-control" asp-for="Username" value="" placeholder="Enter Your Email">
                                    <span asp-validation-for="Username" class="field-validation-error"></span>
                                </div>
                                <div class=" form-group">
                                    <label asp-for="Password" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                    <input type="password" class="form-control" asp-for="Password" value="" placeholder="Enter your Password">
                                    <span asp-validation-for="Password" class="field-validation-error"></span>
                                </div>
                                <div class="form-group" style="text-align: left;">
                                    <span style="display: inline-flex; align-items: center;">
                                        <input asp-for="RememberMe" type="checkbox" class="form-check-input" style="margin-right:10px;" />
                                        <label asp-for="RememberMe" style="margin-left: 30px;" class="form-check-label">Remember Me?</label>
                                    </span>
                                    <span asp-validation-for="RememberMe" class="field-validation-error"></span>
                                </div>
                                <button class="vk-btn vk-btn-send" type="submit" style="width: 100%; margin-top:10px; background-color:#3f97da">Login</button>
                                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                                    <a href="@Url.Action("RecoverPassword","Account")" style="text-decoration: none;">Forgot Password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}