@model garage87.Models.NewPasswordVM

@{
    ViewData["Title"] = "NewPassword";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<section class="site-content-area">

    <div class="uni-contact-us-body-content">
        <div class="container">
            <div class="row" style="display: flex; justify-content: center; align-items: center;margin-top:40px;margin-bottom:200px">
                <div class="col-md-8">
                    <div class="uni-send-a-message" style="text-align: center;">
                        <div class="uni-contact-title">
                            <h3>Change your Password.</h3>
                            <div class="uni-line"></div>
                        </div>
                        <div class="uni-send-a-message-body">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="field-validation-error"></div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="Email" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <input type="email" class="form-control" required asp-for="Email" placeholder="Enter Your Email">
                                            <span asp-validation-for="Email" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="NewPassword" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <input type="password" class="form-control" asp-for="NewPassword" placeholder="Enter Your New Password">
                                            <span asp-validation-for="NewPassword" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="Confirm" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <input type="password" class="form-control" asp-for="Confirm" placeholder="Confirm Password">
                                            <span asp-validation-for="Confirm" class="field-validation-error"></span>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <button class="vk-btn vk-btn-send" type="submit" style="justify-content:left;width:100%; margin:20px; background-color:#3f97da">Submit</button>
                                </div>
                                <div style="display: flex; justify-content: space-between;">
                                    <a href="@Url.Action("ChangeUser","Account")" style="text-decoration: none;">Back To User?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}