@* @model garage87.Models.RecoverPasswordViewModel
@{
    ViewData["Title"] = "Recover Password";
}

<h2>Recover Password</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Recover Password" class="btn btn-primary" />
                <a asp-action="Login" class="btn btn-success">Back to Login</a>
            </div>
        </form>
        <div class="text-success">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div> *@
@model garage87.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<section class="site-content-area">

    <div class="uni-contact-us-body-content">
        <div class="container">
            <div class="row" style="display: flex; justify-content: center; align-items: center;margin-top:100px;">
                <div class="col-md-8">
                    <div class="uni-send-a-message" style="text-align: center;">
                        <div class="uni-contact-title">
                            <h3>Recover Your Password</h3>
                            <div class="uni-line"></div>
                        </div>
                        <div class="uni-send-a-message-body">
                            <form method="post" style="max-width: 400px; margin: 0 auto;">
                                <div asp-validation-summary="ModelOnly" class="field-validation-error"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="Email" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <input type="email" class="form-control" asp-for="Email" placeholder="Enter your Email">
                                            <span asp-validation-for="Email" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <button class="vk-btn vk-btn-send" type="submit" style="justify-content:flex-start; display: block;margin-top:10px; background-color:#3f97da">Submit</button>
                                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                                    <a href="@Url.Action("Login","Account")" style="text-decoration: none;">Back to Login?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
