@model garage87.Models.RegisterNewUserViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="site-content-area">

    <div class="uni-contact-us-body-content">
        <div class="container">
            <div class="row" style="display: flex; justify-content: center; align-items: center;margin-top:40px;margin-bottom:200px">
                <div class="col-md-8">
                    <div class="uni-send-a-message" style="text-align: center;">
                        <div class="uni-contact-title">
                            <h3>Welcome! Please sign in to continue.</h3>
                            <div class="uni-line"></div>
                        </div>
                        <div class="uni-send-a-message-body">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="field-validation-error"></div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="FirstName" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <input type="text" class="form-control" asp-for="FirstName" placeholder="Enter Your First Name">
                                            <span asp-validation-for="FirstName" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="LastName" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <input type="text" class="form-control" asp-for="LastName" placeholder="Enter Your Last Name">
                                            <span asp-validation-for="LastName" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Username" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <input type="email" class="form-control" asp-for="Username" placeholder="Enter Your Email">
                                            <span asp-validation-for="Username" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="CityId" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            @{
                                                IDictionary<string, object> customAttribute = new Dictionary<string, object>()
                                            {
                                            { "data-filter-columns", "name" },

                                            };
                                            }
                                            <ejs-combobox id="CityId" placeholder="Select City" cssClass="e-multi-column form-control p-0" htmlAttributes="customAttribute" popupWidth="600px"
                                                          headerTemplate="@Html.Raw("<table><tr><th class='wp-34 text-wrap'>City Name</th><th class='wp-33 text-wrap'>Country</th><th class='wp-33 text-wrap'>Country Code</th></tr></table>")"
                                                          itemTemplate="@Html.Raw("<table><tbody><tr><td class='wp-34 text-wrap'>${name}</td><td class='wp-33 text-wrap'>${country.name}</td><td class='wp-33 text-wrap'>${country.countryCode}</td></tr> </tbody></table>")">
                                                <e-data-manager adaptor="UrlAdaptor" url="@Url.Action("CitiesDropdown", "Account")" crossDomain="true"></e-data-manager>
                                                <e-combobox-fields value="id" text="name"></e-combobox-fields>
                                            </ejs-combobox>
                                            <span asp-validation-for="CityId" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ZipCode" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <input type="number" class="form-control" asp-for="ZipCode">
                                            <span asp-validation-for="ZipCode" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Vat" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <input type="number" class="form-control" asp-for="Vat">
                                            <span asp-validation-for="Vat" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="PhoneNumber" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <input type="tel" class="form-control" asp-for="PhoneNumber">
                                            <span asp-validation-for="PhoneNumber" class="field-validation-error"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Password" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <input type="password" class="form-control" asp-for="Password" placeholder="Enter Your Password">
                                            <span asp-validation-for="Password" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Confirm" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <input type="password" class="form-control" asp-for="Confirm" placeholder="Confirm Password">
                                            <span asp-validation-for="Confirm" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="Address" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <textarea class="col-md-12 form-control" type="text" asp-for="Address" placeholder="Enter Your Address"></textarea>
                                            <span asp-validation-for="Address" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <button class="vk-btn vk-btn-send" type="submit" style="justify-content:left;width:100%; margin:20px; background-color:#3f97da">Sign Up</button>
                                </div>
                                <div style="display: flex; justify-content: space-between;">
                                    <a href="@Url.Action("Login","Account")" style="text-decoration: none;">Already have an account?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}