@model garage87.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<section class="site-content-area">

    <div class="uni-contact-us-body-content">
        <div class="container">
            <div class="row" style="display: flex; justify-content: center; align-items: center;margin-top:40px;margin-bottom:200px">
                <div class="col-md-8">
                    <div class="uni-send-a-message" style="text-align: center;">
                        <div class="uni-contact-title">
                            <h3>Reset you Password.</h3>
                            <div class="uni-line"></div>
                        </div>
                        <div class="uni-send-a-message-body">
                            <form method="post">
                                <div asp-validation-summary="All" class="field-validation-error"></div>
                                <input type="hidden" asp-for="Token" />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="Username" style="text-align: left; display: block; margin-bottom: 5px;">Email</label>
                                            <input type="text" class="form-control" asp-for="Username" placeholder="Enter Your Email">
                                            <span asp-validation-for="Username" class="field-validation-error"></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="Password" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <input type="password" class="form-control" asp-for="Password" placeholder="Enter your Password">
                                            <span asp-validation-for="Password" class="field-validation-error"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword" style="text-align: left; display: block; margin-bottom: 5px;"></label>
                                            <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password">
                                            <span asp-validation-for="ConfirmPassword" class="field-validation-error"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <button class="vk-btn vk-btn-send" type="submit" style="justify-content:left;width:100%; margin:20px; background-color:#3f97da">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}